.btn {
    opacity: 0.5;
}

.btn:hover {
    opacity: 1;
}

@media screen 
and (min-device-width: 375px) and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .btn {
        opacity: 1;
    }
}

@media screen 
and (min-device-width: 375px) and (max-device-width: 825px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .btn {
        opacity: 1;
    }
}