.modal-content {
    color: black;
}

.deleteBtn {
    color: red;
}

.deleteBtn:hover {
    cursor: pointer;
}

.image-input {
    margin-bottom: 1rem;
}

.order-link {
    display: flex;
    align-items: baseline;

    .link-button {
        color: rgb(85, 85, 255);
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        padding: 0;
      }
}